### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

yarn-error.log

dist/

### Maven ###
java/target/
java/.mvn/wrapper/maven-wrapper.jar

# Eclipse Core
java/.project
# JDT-specific (Eclipse Java Development Tools)
java/.classpath
java/.settings
java/bin
java/.apt_generated
java/.apt_generated_tests

# Default file storage location
java/storage

# Dependency directories
node_modules/

### NextJS ###
# Next build dir
.next/

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

configs

**/*.tsbuildinfo